<%- include('../partials/scripts'); %>

<div class="grid-item" style="justify-self: end;">
  <img class="card-image-large" src=<%= card.image_url %> alt=<%= card.name %>>
</div>
<div  class="grid-item">

  <div class="card-text">
    <div>
      <h1 class="card-title"><%= card.name %></h2>
    </div>
    <div>
      <span class="card-type-text">
        <%= card.cardtype %> &#8212; <%= card.color %> &#8212;
        <%= card.type1 %>
        <% if (card.type2) { %>
          / <%= card.type2 %> 
        <% } %>
      </span>
    </div>
    <div>
      <% if (card.cardtype === "Fighter") { %>
        <table class="card-stats-table">
          <tr>
            <td>DMG <span style="font-weight: bold;"><%= card.dmg %></span></td>
            <td>Hire <span style="font-weight: bold;"><%= card.hire %></span></td>
            <td>Dice <span style="font-weight: bold;"><%= card.dice %></span></td>
          </tr>
          <tr>
            <td>DEF <span style="font-weight: bold;"><%= card.def %></span></td>
            <td>Fire <span style="font-weight: bold;"><%= card.fire %></span></td>
            <td>Set <span style="font-weight: bold;">?</span></td>
          </tr>
        </table>
      <% } else if (card.cardtype === "Challenge") { %>
      <% } else { %>
      <% } %>
    </div>
    <!-- create a div for each Effect -->
    <% 
      let effects = [card.effect1, card.effect2, card.effect3, card.effect4]; 
      for (let i = 0; i < effects.length; i++) { 
    %>
      <div class="card-stats-effects">
        <% if (effects[i]) { %> 
          <p>
            <span style="font-weight: bold;">
              Effect <%= i + 1 %>
            </span>
          </p>
          <p>
            <%= effects[i] %>
          </p>
        <% } %>
      </div>
    <% } %>
  </div>


  
  <p>
    <% if (card.cardtype === "Fighter") { %>
    <% } else if (card.cardtype === "Challenge") { %>
      <%= card.type1 %>
      <br>
      Cast: <%= card.hire %>
    <% } else { %>
      <%= card.type1 %>
      <br>
      Buy: <%= card.hire %>
      <% if (card.equip) { %>
        &emsp;Equip:<%= card.equip %> 
      <% } %>
    <% } %>
  </p>
</div>