<%- include('../partials/scripts'); %>

<div class="card-gallery">
  <table class="card-gallery-table", id="card-gallery-table">
    <tr>
      <% for (let i = 0; i < locals.head.length; i++) { %>
        <th>
          <%= locals.head[i] %>
          <span class="sortby" onclick="sortTable(<%= i %>, 'card-gallery-table')" id="<%= i %>">
            <%- locals.orderSymbols[i] %>
          </span>
        </th>
      <% } %>
    </tr>
  <% for (let i = 0; i < locals.cards.length; i++) { %>
    <!-- add drag functionality for deck builder -->
    <tr id=<%=`drag${i}` %> draggable="true" ondragstart="drag(event)">
      <% 
        locals.fields.forEach(function(field) {
      %>
          <td>
            <a href="<%= '/card/' + locals.cards[i].id %>" draggable="true" ondragstart="drag(event)">
              <%= locals.cards[i][field] %>
            </a>
          </td>
        <% }); %>
    </tr>
  <% } %>
  </table>
</div>