<div class="card-text-small">
  <div>
    <span class="card-name-small">
      <%= locals.card.name %>
    </span>
    <span class="card-type-text-small">
      <%= locals.card.cardtype %> &#8212; <%= locals.card.color %> &#8212;
      <%= locals.card.type1 %>
      <% if (locals.card.type2) { %>
        / <%= locals.card.type2 %> 
      <% } %>
    </span>
  </div>
  <div>
    <% if (locals.card.cardtype === "Fighter") { %>
      <table class="card-stats-table-small">
        <tr>
          <td>DMG <span class="span-bold"><%= locals.card.dmg %></span></td>
          <td>Hire <span class="span-bold"><%= locals.card.hire %></span></td>
          <td>Dice <span class="span-bold"><%= locals.card.dice %></span></td>
        </tr>
        <tr>
          <td>DEF <span class="span-bold"><%= locals.card.def %></span></td>
          <td>Fire <span class="span-bold"><%= locals.card.fire %></span></td>
          <td>Set <span class="span-bold"><%= locals.card.set %></span></td>
        </tr>
      </table>
    <% } else if (locals.card.cardtype === "Challenge") { %>
      <table class="card-stats-table-small">
        <tr>
          <td>Cast <span class="span-bold"><%= locals.card.hire %></span></td>
          <td>Dice <span class="span-bold"><%= locals.card.dice %></span></td>
        </tr>
        <tr>
          <td></td>
          <td>Set <span class="span-bold"><%= locals.card.set %></span></td>
        </tr>
      </table>
    <% } else { %>
      <table class="card-stats-table-small">
        <tr>
          <td>Buy <span class="span-bold"><%= locals.card.hire %></span></td>
          <td>Dice <span class="span-bold"><%= locals.card.dice %></span></td>
        </tr>
        <tr>
          <td>
            <% if (locals.card.equip) { %>
              Equip <span class="span-bold"><%= locals.card.equip %></span> 
            <% } %>
          </td>
          <td>Set <span class="span-bold"><%= locals.card.set %></span></td>
        </tr>
      </table>
    <% } %>
  </div>
  <div>
    <!-- create a div for each Effect -->
  <% 
    let effects = [
      locals.card.effect1, locals.card.effect2, locals.card.effect3, locals.card.effect4
    ]; 
    for (let i = 0; i < effects.length; i++) { 
  %>
    <% if (effects[i]) { %> 
      <div class="card-stats-effects-small">
          <p>
            <span class="span-bold">
              Effect <%= i + 1 %>
            </span>
          </p>
          <p>
            <%= effects[i] %>
          </p>
      </div>
    <% } %>
  <% } %>

    <!-- create a div for each step -->
  <% 
    let steps = [
      locals.card.step1, locals.card.step2, locals.card.step3, locals.card.step4
    ]; 
    for (let i = 0; i < steps.length; i++) { 
  %>
    <% if (steps[i]) { %> 
      <div class="card-stats-effects-small">
          <p>
            <span class="span-bold">
              Step <%= i + 1 %>
            </span>
          </p>
          <p>
            <%= steps[i] %>
          </p>
      </div>
    <% } %>
  <% } %>
  </div>
</div>
