<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body class="container">

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="jumbotron">
    <h1><%= header %></h1>
    <% cards.forEach(function(card) { %>
      <a href=<%= '/card/' + card.id %>>
        <img src=<%= card.image_url %> width="300px" style="margin: 6px"></img>
      </a>
    <% }); %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>