<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
  <script>
    // get the deck ID which was passed to the URL
    const urlParams = new URLSearchParams(window.location.search);
    var currentDeckID = urlParams.get('deck');
  </script>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container" id="deck-builder">
    <div class="grid-item">
      <div class="all-cards-title">
        <h2>All Cards</h2>
      </div>
      
      <table class="card-gallery-table" id="card-gallery-table">
        <thead>
          <tr>
            <th>
              Name
              <span class="sortby" onclick="sortTable(0, 'card-gallery-table')" id="0">
                &#x25BC;
              </span>
            </th>
            <th>
              Card Type
              <span class="sortby" onclick="sortTable(1, 'card-gallery-table')" id="1">
                &#x25BC;
              </span>
            </th>
            <th>
              Cost
              <span class="sortby" onclick="sortTable(2, 'card-gallery-table')" id="2">
                &#x25BC;
              </span>
            </th>
            <th>
              Info
            </th>
            <th>
              Add to Deck
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < locals.cards.length; i++) { %>
            <tr 
              id=<%- `drag${i}` %> 
              draggable="true" 
              ondragstart="drag(event)" 
              class=<%= `card-gallery-row-${locals.cards[i].id}` %>
              data-cardid=<%= locals.cards[i].id %>
            >
              <td class="table-cell-cardname">
                <div>
                  <a 
                    href="<%= '/card/' + locals.cards[i].id %>" 
                    draggable="true" 
                    ondragstart="drag(event)" 
                    class="card-gallery-link"
                  >
                    <%= locals.cards[i].name %>
                  </a>
                </div>
              </td>
              <td class="table-cell-cardtype">
                <div>
                  <a 
                    href="<%= '/card/' + locals.cards[i].id %>" 
                    draggable="true" 
                    ondragstart="drag(event)" 
                    class="card-gallery-link"
                  >
                    <%= locals.cards[i].cardtype %>
                  </a>
                </div>
              </td>
              <td class="table-cell-cost">
                <div>
                  <a 
                    href="<%= '/card/' + locals.cards[i].id %>" 
                    draggable="true" 
                    ondragstart="drag(event)" 
                    class="card-gallery-link"
                  >
                    <%= locals.cards[i].hire %>
                  </a>
                </div>
              </td>
              <td class="table-cell-cardinfo">
                <div class="<%= 'card-info | for-' + locals.cards[i].name %>">
                  💬
                </div>
                <div class="<%= 'card-tooltip | for-' + locals.cards[i].name %>">
                  <img 
                    src=<%= locals.cards[i].image_url %> 
                    class="card-image-tooltip" 
                    alt=<%= locals.cards[i].name %>
                    onerror="imageErrorHandler(this)"
                    >
                  </img>
                  <div class="cardinfo-small">
                    <%- include('../partials/cardinfo', { card: locals.cards[i] }); %>
                  </div>
                </div>
              </td>
              <td class="add-deck" onclick="addToDeckTable(event)">
                  ➕
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>

    </div>

    <div class="grid-item">
      <div class="deck-title-container">
        <h2 id="deck-title">My Deck</h2>
        <button class="standard-button" onclick="changeDeckName()">🖊</button>
      </div>

      <div class="toggle-header">
        <h2 style="text-align: left;">Deck stats</h2>
        <!-- <label class="toggle-button" for="toggle1">Expand</label> -->

        <button class="standard-button" onclick="changeToDeckstats()">💾 Save Changes</button>
      </div>
      <div>
        <input type="checkbox" class="toggle-control" id="toggle1" />
        <div id="deck-stats">
          <!-- filled by the updateStats function -->
        </div>
      </div>

      <h2 style="text-align: left;">Leader</h2>
      <div 
        class="leader-container" 
        id="leader-container" 
        ondrop="drop(event)" 
        ondragover="allowDrop(event)"
      >
        <div class="drag-zone">
          &#10133
        </div>
        <table class="card-gallery-table", id="leader-container-table">
          <tbody></tbody>
        </table>
      </div>

      <h2 style="text-align: left;">Deck</h2>
      <div class="deck-container" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="drag-zone">
          &#10133
        </div>
        <table class="card-gallery-table", id="my-deck-table">
          <thead>
            <tr>
              <% for (let i = 0; i < locals.head.length; i++) { %>
                <th>
                  <%= locals.head[i] %>
                  <span class="sortby" onclick="sortTable(<%= i %>, 'card-gallery-table')" id="<%= i %>">
                    <%- locals.orderSymbols[i] %>
                  </span>
                </th>
              <% } %>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <!-- empty table at first -->
          </tbody>
        </table>
      </div>
      <div class="deck-container-footer">
        <div>
          <label for="num-money">Add Money:</label>
          <input type="number" id="num-money" name="num-money" min="0" max="45" value="15">
        </div>
        <button id="deck-export-button" onclick="downloadDeckString()">Export Your Deck</button>
        <button id="deck-delete-button" onclick="deleteDeckFromDeckbuilder()">Delete Deck</button>
      </div>
    </div>
  </div>
  <div id="deck-builder-hidden">
    <p>
      Sorry, but the Deck Builder is not yet optimized for mobile view 😥
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script>
  createDeckFromStorage();
  updateStats();

  const changeDeckName = function() {
    let deck = getDeck(currentDeckID);

    let title = document.querySelector('#deck-title');
    let newName = prompt('Enter a new Name for the deck', deck.name);
    newName = newName.trim();
    title.textContent = truncateDeckName(newName);  

    
    deck.name = newName;
    saveDeck(deck, currentDeckID);
  }

  const changeToDeckstats = function() {
    window.location.href = `/visual-deckstats?deck=${currentDeckID}`;
  }
 
</script>

<%- include('../partials/postprocessing'); %>
</html>