<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container" id="deck-builder">
    <!-- LEFT SIDE -->
    <div class="grid-item">
      <div class="all-cards-title">
        <h2>All Cards</h2>
      </div>

      <div class="ui-bar-horizontal">
        <label for="card-filter">Filter</label>
        <input type="text" id="card-filter" name="card-filter" onkeyup="filterTable()">
        <!-- <button class="standard-button">Apply</button> -->
      </div>
      
      <table class="card-gallery-table" id="card-gallery-table">
        <thead>
          <tr>
            <th class="sortable-table-col-head", onclick="onColumnHeaderClicked(event)">
              Name
              <span class="sortby" id="0">
                &#x25BC;
              </span>
            </th>
            <th class="sortable-table-col-head", onclick="onColumnHeaderClicked(event)">
              Card Type
              <span class="sortby" id="1">
                &#x25BC;
              </span>
            </th>
            <th class="sortable-table-col-head", onclick="onColumnHeaderClicked(event)">
              Cost
              <span class="sortby" id="2">
                &#x25BC;
              </span>
            </th>
            <th>
              Info
            </th>
            <th>
              Add to Deck
            </th>
          </tr>
        </thead>
        <tbody>
          <% for (let i = 0; i < locals.cards.length; i++) { %>
            <% if (locals.cards[i].type2 === 'Token') continue; %>
            <tr 
              id=<%- `drag${i}` %> 
              draggable="true" 
              ondragstart="drag(event)" 
              class=<%= `card-gallery-row-${locals.cards[i].id}` %>
              data-cardid=<%= locals.cards[i].id %>
            >
              <td class="table-cell-cardname">
                <div>
                  <%= locals.cards[i].name %>
                </div>
              </td>
              <td class="table-cell-cardtype">
                <div>
                  <%= locals.cards[i].cardtype %>
                </div>
              </td>
              <td class="table-cell-cost">
                <div>
                  <%= locals.cards[i].hire %>
                </div>
              </td>
              <td class="table-cell-cardinfo">
                <div class="<%= 'card-info | for-' + locals.cards[i].name %>">
                  💬
                </div>
                <div class="<%= 'card-tooltip | for-' + locals.cards[i].name %>">
                  <img 
                    src=<%= locals.cards[i].image_url %> 
                    class="card-image-tooltip" 
                    alt=<%= locals.cards[i].name %>
                    onerror="imageErrorHandler(this)"
                    >
                  </img>
                  <div class="cardinfo-small">
                    <%- include('../partials/cardinfo', { card: locals.cards[i] }); %>
                  </div>
                </div>
              </td>
              <td class="add-deck" onclick="addToDeckTable(event)">
                  ➕
              </td>
            </tr>
          <% } %>
        </tbody>
      </table>
    </div>

    <!-- RIGHT SIDE -->

    <div class="grid-item">
      <div class="deck-title-container">
        <h2 id="deck-title">My Deck</h2>
        <button class="standard-button" onclick="changeDeckName()">🖊</button>
      </div>

      <div class="toggle-header">
        <h2 style="text-align: left;">Deck Stats</h2>
        <button class="standard-button" onclick="changeToDeckstats()">💾 Save Changes</button>
      </div>
      <div>
        <div id="deck-stats">
          <!-- filled by the updateStats function -->
        </div>
        <div id="deck-validity-check"></div>
      </div>

      <h2 style="text-align: left;">Deck List</h2>
      <div class="deck-container" ondrop="drop(event)" ondragover="allowDrop(event)">
        <div class="drag-zone">
          &#10133
        </div>
        <table class="card-gallery-table", id="my-deck-table">
          <thead>
            <tr>
              <% for (let i = 0; i < locals.head.length; i++) { %>
                <th>
                  <%= locals.head[i] %>
                  <!-- TODO: fix sorting for the right table! -->
                  <!-- <span class="sortby" onclick="sortTable(<%= i %>, 'card-gallery-table')" id="<%= i %>">
                    <%- locals.orderSymbols[i] %>
                  </span> -->
                </th>
              <% } %>
              <th>Captain?</th>
              <th>Remove</th>
            </tr>
          </thead>
          <tbody>
            <!-- empty table at first -->
          </tbody>
        </table>
      </div>
      <div class="deck-container-footer">
        <div>
          <label for="num-money">Add Money:</label>
          <input 
            type="number" 
            id="num-money" 
            name="num-money" 
            min="0" 
            max="45" 
            value="15"
            onchange="updateStats()"
          >
        </div>
      </div>
    </div>
  </div>
  <div id="deck-builder-hidden">
    <p>
      Sorry, but the Deck Builder is not yet optimized for mobile view 😥
    </p>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script>
  console.log(urlParams.get('deck'))
  localStorage.setItem('currentDeckID', urlParams.get('deck'));

  createDeckFromStorage();
  updateStats();


  console.log(localStorage.getItem('currentDeckID'))

  const changeDeckName = function() {
    let currentDeckID = localStorage.getItem('currentDeckID');
    let deck = getDeck(currentDeckID);

    let title = document.querySelector('#deck-title');
    let newName = prompt('Enter a new Name for the deck', deck.name);
    newName = newName.trim();
    title.textContent = truncateDeckName(newName);  

    
    deck.name = newName;
    saveDeck(deck, currentDeckID);
  }


  const changeToDeckstats = function() {
    updateStats();
    
    let currentDeckID = localStorage.getItem('currentDeckID');
    window.location.href = `/visual-deckstats?deck=${currentDeckID}`;
  }


  const filterTable = function() {
    // https://www.w3schools.com/howto/howto_js_filter_table.asp
    // TODO: make generic and put in scripts.ejs
    
    let input = document.querySelector('#card-filter');
    let filter = input.value.toLowerCase();
    let table =  document.querySelector('#card-gallery-table');
    let trows = Array.from(table.getElementsByTagName("tr"));

    trows.forEach(row => {
      td = row.getElementsByTagName("td")[0];
      if (td) {
        txtValue = td.textContent || td.innerText;
      if (txtValue.toLowerCase().indexOf(filter) > -1) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
      }
    });
  }
 

</script>

<%- include('../partials/postprocessing'); %>
</html>