<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container" style="grid-template-columns: 50% 50%;">
    <div class="gallery-header grid-item" id="display-as">
      <h2><%= locals.header %></h2>
    </div>
    <div class="grid-item" style="grid-column: 1 / span 2">
      <%- include('../partials/card-gallery-' + locals.query.as); %>
    </div>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>