<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container singlecard-grid">
    <% if (locals.card) { %>

      <div class="grid-item" id="singlecard-image">
        <img 
          class="card-image-large" 
          src=<%= locals.card.image_url %> 
          alt=<%= locals.card.name %> 
          onerror="imageErrorHandler(this)"
        >
      </div>

      <div class="grid-item">
        <%- include('../partials/cardinfo'); %>
      </div>

      <div class="add-to-deck-container" id="add-to-deck-container">
        <input 
          type="button" 
          class="add-to-deck-button" 
          value="Add to deck"
          onclick="addCardfromSinglecard()"
        >
      </div>

    <% } else { %>
      <div class="grid-item">
        <h1>Oops, this card does not exist 😅</h1>
      </div>
    <% } %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script>
  //  remove the "add to deck" dialog if this card is in the deck
  if (isInDeck("<%= locals.card?.id %>")) {
    document.getElementById('add-to-deck-container').style.display = "none";
  }
</script>

<%- include('../partials/postprocessing'); %>
</html>