<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container singlecard-grid">
    <% if (locals.card) { %>

      <div class="grid-item" id="singlecard-image">
        <img 
          class="card-image-large" 
          src=<%= locals.card.image_url %> 
          alt=<%= locals.card.name %> 
          onerror="imageErrorHandler(this)"
        >
      </div>

      <div class="grid-item">
        <%- include('../partials/cardinfo'); %>
      </div>

      <div class="add-to-deck-container" id="add-to-deck-container">
        <input 
          type="button" 
          class="add-to-deck-button" 
          value="Add to current deck"
          onclick="addCardfromSinglecard()"
        >
      </div>

    <% } else { %>
      <div class="grid-item">
        <h1>Oops, this card does not exist 😅</h1>
      </div>
    <% } %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>

<script>
   const addCardfromSinglecard = function() {
    // Wrapper for addCardToDeck()

    // get name of Card from singlecard.ejs

    // TODO: put card ID into the html data attribute?
    let path = window.location.pathname.split('/')

    let card = {
      name: document.querySelector('.card-title')?.innerHTML,
      id: path[path.length - 1],
      cardtype: document.querySelector('.card-type-text')?.getAttribute('data-cardtype'),
      info: '💬',
      leader: false,
      data: null
    };

    let currentDeckID = localStorage.getItem('currentDeckID');
    let deck = getDeck(currentDeckID);
    addCardtoDeck(deck, card, true);
    
    // hide the div that holds the "add to deck" function
    // TODO: animate instead
    document.getElementById('add-to-deck-container').style.display = "none";
  }


  //  remove the "add to deck" dialog if this card is in the deck, or if it's a token
  if (isInDeck('<%= locals.card?.id %>') || '<%= locals.card?.type2 %>' === 'Token' ) {
    document.getElementById('add-to-deck-container').style.display = "none";
  }
</script>

<%- include('../partials/postprocessing'); %>
</html>