<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('../partials/head'); %>
</head>
<body>

<header>
  <%- include('../partials/header'); %>
</header>

<main>
  <div class="grid-container singlecard-grid">
    <% if (locals.card) { %>

      <div class="grid-item" id="singlecard-image">
        <img class="card-image-large" src=<%= locals.card.image_url %> alt=<%= locals.card.name %> onerror="imageErrorHandler(this)">
      </div>

      <%- include('../partials/cardinfo'); %>
    <% } else { %>
      <div class="grid-item">
        <h1>Oops, this card does not exist 😅</h1>
      </div>
    <% } %>
  </div>
</main>

<footer>
  <%- include('../partials/footer'); %>
</footer>

</body>
</html>